* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    min-height: 100vh;
}

.fondo_menu {
    background-color: #212529;
}

.boton {
    color: white;
    border: 1px solid white;
    margin-left: 15px;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 8px;
    transition: .2s;
}

.boton:hover {
    border: 1px solid gray;
    color: gray;
}

.fondo-login {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    
    animation: gradient 15s ease infinite;
    /* height: 100vh; */
    min-height: 100vh;
    padding-top: 50px;
}






@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.login {
    color: white;
    margin: auto;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 6px;
    background-color: rgb(54, 75, 114);
}

.icon,
.titulo {
    text-align: center;
    color: white;
}

.titulo {
    margin-bottom: 12px;
    color: white;
}

.icon .dog-icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

.box-eye {
    position: relative;
}

.box-eye button {
    border: none;
    position: absolute;
}

.changePassword {
    position: absolute;
    top: 12px;
    left: 275px;
    
    transform: translateY(-20%);
    color: rgb(54, 75, 114);
    cursor: pointer;
}


* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

main {
    width: 70ch;
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
    display: grid;
    gap: 2rem;
}

article {
    display: flex;
    align-items: center;
    --bg: hsl(140 20% 80%);
    position: relative;
    --clip: polygon(100% 30%, 0% 0, 0% 100%, 100% 70%);
}

.content {
    padding: 1rem;
}

article:nth-of-type(even) {
    color: hsl(0 0% 98%);
    --bg: hsl(0 0% 10%);
    --clip: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
}

article::after {
    content: "";
    position: absolute;
    inset: -5rem;
    background: var(--bg);
    z-index: -1;
    clip-path: var(--clip);
}

article:nth-of-type(even)::before,
article:nth-of-type(even)::after {
    inset: -8rem;
    --clip: polygon(0 30%, 100% 0, 100% 100%, 15% 70%);
}

article::before {
    content: "";
    inset: -5rem;
    position: absolute;
    background: hsl(150 90% 50%);
    z-index: -1;
    clip-path: var(--clip);
    scale: 1.02;
    transform-origin: 0 0;
}

article:nth-of-type(even)::before {
    transform-origin: 100% 0;
}